
  <div class="banner d-flex align-items-end" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('flinestone.jpg') %>');">
    <div class="container pl-5">
      <h1>Watch your favourite movies at your own comfort in quality rooms!</h1>
      <p>Rent cinema rooms at an affordable rate</p>
      <!-- <a class="btn btn-flat btn-primary text-white" href="#">Sign up</a> -->
      <%= link_to "Start browsing", cinemas_path, :class => "btn btn-flat btn-primary btn-lg text-white"  %>
    </div>
  </div>

