
<%= video_tag "videobackground-sm.mp4", autoplay: :autoplay, loop: :loop, muted: :muted, class: "home_video" %>

  <div class="row row-cols-2 mt-2 pl-3 pr-3 ">
    <div class="col"><h5>Watch your favourite movies at your own comfort in quality rooms!</h5><p>Rent cinema rooms at an affordable rate</p></div>
    <div class="col text-right"><%= link_to "Start browsing", cinemas_path, class: "btn btn-flat btn-primary btn-lg text-white text-right"  %></div>
    <div class="col align-top"></div>
    <div class="col"></div>
  </div>

