.home_video {
 width: 100vw;
 height: 80vh;
 position: relative;
 display: flex;
 justify-content: center;
 object-fit: cover;
 top: 0;
 z-index: -2;
}

.home-video-wrapper {
height: 100vh;
display: flex;
}
